@use 'sass:color';
@use '../base/constants';
@use '../base/mixins';

html{
	font-size: 20px;
	box-sizing: border-box;
}
*{
	box-sizing: inherit;
}
body{
	background-color: constants.$main_background_color;
	@include mixins.body_copy_font_family;
}
ul, ol{
	padding-inline-start: 0;
	list-style-type: none;
}

code {
	text-wrap: auto;
}

h1,h2,h3,h4,h5,h6{
	@include mixins.heading_font_family;
	font-weight : normal;
}
h1{
	@include mixins.font_size(4);
}
h2{
	@include mixins.font_size(3);
}
h3{
	@include mixins.font_size(2);
}
h4{
	@include mixins.font_size(1);
}
h5{
	@include mixins.font_size(0);
}
h6{
	@include mixins.font_size(-1);
}
a,p,article{
	word-wrap:break-word; //so a tag's text wraps on small (iPhone screens)
}
a{
	text-decoration:none;
	color: color.adjust(constants.$secondary_color, $lightness: 10%);

	&:visited{
		color: color.adjust(constants.$secondary_color, $lightness: -10%);
	}
	&:hover{
		text-decoration:underline;
	}
}

code{
	@include mixins.code_font_family;
	@include mixins.font_size(-1);
}
		
pre {
	word-wrap: break-word;
}

/**
* Main layout
*/
.container{
	max-width: 950px;
	margin: 0 auto;
	padding: 0 constants.$universal_left_right_padding;
}
.center{
	text-align: center;
}