/**
* Comments page styles
*/
.comment{
	article{
		@include heading_font_family;
		line-height: 1.5em;
		max-width: 43rem;
		margin-top: -1rem;
		margin-bottom: 1rem;
		
		code, pre{
			line-height: 1rem;
		}
		a{
			@include font_size(-1);
		}
	}
	
	h6{
		margin-top: 0;
	}
	ol{
		padding-left: 1rem;
	}
}
.deleted{
	color : lighten(black, 50%);
}

@media screen and (min-width: $med_breakpoint){
	.comment ol{
		padding-left: 2rem;
	}
}