/**
* Footer styles
*/
footer{
	margin: 4rem 0 4rem 0;
	
	p{
		line-height: 1.5em;
	}
}

.hide_for_med{ //used for search button
	display:none;
}
.total{
	//used to place footer at the bottom of the page
	min-height: 75%;
	position: relative;
}
.settings_link{
	margin-bottom: 2em;
	display: block;
}


@media screen and (min-width: $lg_breakpoint){
	footer{
		form{
			text-align: center;
		}	
		p{
			margin-top: 0;
			margin-bottom: 0;		
			&:first-of-type{
				margin-top: 1em;
			}
		}	
	}
	.hide_for_med{//used for search button
		display: initial;
	}
	.settings_link{
		margin-bottom: 0;
		display: inline;
	}
}