/**
* Footer styles
*/
footer{
	margin-bottom: 4rem;
	form{
		@include media_q(lg){
			text-align: center;
		}
	}
	p{
		line-height: 1.5em;
		@include media_q(lg){
			margin-top: 0;
			margin-bottom: 0;		
			&:first-of-type{
				margin-top: 1em;
			}
		}
	}
}

.hide_for_med{ //used for search button
	@include media_q_inverse(lg){
		display:none;	
	}
}
.total{
	//used to place footer at the bottom of the page
	min-height: 70vh;
	position: relative;
	margin-bottom: 4rem;
}
.settings_link{
	margin-bottom: 2em;
	display: block;
	@include media_q(lg){
		margin-bottom: 0;
		display: inline;
	}
}