@use 'sass:color';
@use '../base/constants';

.btn{
	border-radius: 6%;
	min-width: 4em;
	min-height: 2em;
}
.btn-primary{
	background-color: color.adjust(constants.$secondary_color, $lightness: 45%);
	border: 1px solid color.adjust(constants.$secondary_color, $lightness: 15%);
}
.btn-primary:active{
	background-color: color.adjust(constants.$secondary_color, $lightness: 30%);
	color: constants.$main_background_color;
}