/**
* Form styles
*/
.btn{
	border-radius: 6%;
	min-width: 4em;
	min-height: 2em;
}
.btn-primary{
	background-color: lighten($secondary_color, 45%);
	border: 1px solid lighten($secondary_color, 15%);
}
.btn-primary:active{
	background-color: lighten($secondary_color, 30%);
	color: $main_background_color;
}