@use '../base/constants';
@use '../base/mixins';

.jumbotron{
	@include mixins.brand_font_family;
	background-color: lighten(constants.$primary_color, 33%);
	top: 0;
	width: 100%;
	@include mixins.media_q(med){
		position: -webkit-sticky;
		position: sticky;
	}
}

nav, nav ul, nav li{
	display: flex;
	justify-content: space-between;
}

nav{
	@include mixins.font_size(1);
	.page_links a{
		@include mixins.media_q(med){
			padding: constants.$universal_left_right_padding (2.5*constants.$universal_left_right_padding);
		}
	}
	a{
		padding: constants.$universal_left_right_padding;
		color: darken(constants.$secondary_color, 10%);
		&:visited{
			color: constants.$secondary_color;
		}
	}
}

nav ul{
	margin: 0;
}

header .container{
	padding:0;
}

/*
* Current page nav link highlight
*/
.page_home .nav-link-home, .nav_home .nav-link-home, 
.page_show .nav-link-show, .nav_show .nav-link-show, 
.page_ask .nav-link-ask, .nav_ask .nav-link-ask{
	background-color: lighten(constants.$primary_color, 20%);
}