/**
* Header and nav styles
*/

.jumbotron{
	@include brand_font_family;
	background-color: lighten($primary_color, 33%);
	top: 0;
	width: 100%;
	overflow: hidden;
	@include media_q(med){
		position: -webkit-sticky;
		position: sticky;
	}
}

nav, nav ul, nav li{
	display: flex;
	justify-content: space-between;
}

nav{
	@include font_size(1);
	.page_links a{
		@include media_q(med){
			padding: $universal_left_right_padding (2.5*$universal_left_right_padding);
		}
	}
	a{
		padding: $universal_left_right_padding;
		color: darken($secondary_color, 10%);
		&:visited{
			color: $secondary_color;
		}
	}
}

nav ul{
	margin: 0;
}

header .container{
	padding:0;
}

/*
* Current page nav link highlight
*/
.page_home .nav-link-home, .nav_home .nav-link-home, 
.page_show .nav-link-show, .nav_show .nav-link-show, 
.page_ask .nav-link-ask, .nav_ask .nav-link-ask{
	background-color: lighten($primary_color, 20%);
}