/**
* main content styles
*/
.main{
	//so it doesn't overlap fixed header
	@include media_q(med){
		margin-top: $header_height;
	}
}
.page_settings, .page_comments{
	//so it doesn't overlap fixed header
	.main{
		@include media_q(med){
		margin-top: $header_height + 40px;
		}
	}	
}
main{
	ol{
		padding:0;
	}
	li{
		padding: 0.5rem 0rem 1rem 0rem;
	}
	p{
		@include font_size(0);	
	}
	a p{
		@include media_q(lg){
			@include font_size(0);
			margin-top: -1em;
		}
	}
}

#top_list{
	margin-top: 0;
}

.settings_page .content-main{
	display: none;
}