@use '../base/mixins';

main{
	ol{
		padding:0;
	}
	li{
		padding: 0.5rem 0rem 1rem 0rem;
	}
	p{
		@include mixins.font_size(0);	
	}
	a p{
		@include mixins.media_q(lg){
			@include mixins.font_size(0);
			margin-top: -1em;
		}
	}
}

#top_list{
	margin-top: 0;
}

.settings_page .content-main{
	display: none;
}