@use '../base/mixins';

legend{
	@include mixins.heading_font_family;
	@include mixins.font_size(2);
}
fieldset{
	border: 1px solid silver;
	margin: 0 0 1rem 0;
}
.form-group{
	margin-bottom: 1.5em;
	@include mixins.media_q(lg){
		margin-bottom: 0.5em;
	}
}
label{
	@include mixins.font_size(-1);
}

.settings-main{
	display: none;
}

.page_settings .settings-main{
	display: block;
}