/**
* story content styles
*/
.small{
	@include font_size(-1);
}
.url_source{ //used to display url root next to or below story title
	display:block;
}

@media screen and (min-width: $med_breakpoint){
	.url_source{
		display: inline;
	}
	
}

//just selects top level li so nested comments are not alternating colors
#top_list > li:nth-child(even){
	background-color: lighten($primary_color, 45%);
}