/**
* Constants
*/
//type
$type_scale : 1.25; //major third

//layout
$universal_left_right_padding : 1rem;
$header_height: 71px;

//color names
$hn_orange : #ff6600;
$blue_violet : #313C7A;
$snow : #FFFAFA;

//colors roles
$primary_color : $hn_orange;
$secondary_color : $blue_violet;
$main_background_color : $snow;

//media queries
$breakpoint_sm : 460px;
$breakpoint_med : 562px;
$breakpoint_lg : 1200px;
