@use 'sass:color';
@use 'mixins';
@use '../base/constants';

$primary_color : #181818;
$secondary_color : snow;
.dark{
	@include mixins.theme_default_override($primary_color, $secondary_color);
	body{
		background-color: $primary_color;
		color: $secondary_color;	
	}
	
	#top_list > li:nth-child(even){
		background-color: color.adjust($primary_color, $lightness: 15%);
	}
	button, input{
		color: $primary_color;
	}
	.btn-primary{
		background-color: color.adjust($secondary_color, $lightness: -10%);
		border: 1px solid color.adjust($secondary_color, $lightness: -20%);
	}
	.btn-primary:active{
		background-color: color.adjust($secondary_color, $lightness: -20%);
		color: constants.$main_background_color;
	}
}