@use 'sass:color';
@use '../base/constants';

@mixin theme_default_override($primary_color, $secondary_color){
	a{
		color: color.adjust($secondary_color, $lightness: 10%);
		&:visited{
			color: color.adjust($secondary_color, $lightness: -10%);
		}	
	}
	
	nav a{
		color: color.adjust($secondary_color, $lightness: -10%);
		&:visited{
			color: $secondary_color;
		}	
	}

	.jumbotron{
		background-color: color.adjust($primary_color, $lightness: 33%);
	}
	.current, 
	.page_home .nav-link-home, .nav_home .nav-link-home, 
	.page_show .nav-link-show, .nav_show .nav-link-show,
	.page_ask .nav-link-ask, .nav_ask .nav-link-ask
	{
		background-color: color.adjust($primary_color, $lightness: 20%);
	}

	//just selects top level li so nested comments are not alternating colors
	#top_list > li:nth-child(even){
		background-color: color.adjust($primary_color, $lightness: 45%);
	}
	.btn-primary{
		background-color: color.adjust($primary_color, $lightness: 25%);
		border: 1px solid color.adjust($primary_color, $lightness: 15%);
	}
	.btn-primary:active{
		background-color: color.adjust($primary_color, $lightness: 10%);
		color: constants.$main_background_color;
	}
	@content;
}